body, html{
  font-family: "Calibri";
}

#success{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
  padding-left: 40%;
  visibility: hidden;
}

.navBar{
  background-color: steelblue;
  color: white;
}

nav ul{
  display: inline-block;
  text-align: center;
}

nav ul li {
  display: inline-block;
  text-align: center;
  padding: 50px;
}

a{
  color: white;
  text-decoration: none;
}

.nameTag{
  padding-left: 10%;
  padding-right: 30%;
  font-size: 50;
}

.contentBackground{
  background-color: gray;
}

.homeCard{
  background-color: white;
  text-align: center;
  padding: 50px;
}

.workExp{
  background-color: orange;
  padding-left: 20%;
  margin-top: -1940px;
  visibility: hidden;
}

.contactInfo{
  background-color: purple;
  color: white;
  padding-left: 20%;
  margin-top: -750px;
  visibility: hidden;
}

.pageTitle{
  text-align: center;
}

.footer{
  background-color: steelblue;
  margin-top: 1800px;
  padding: 50px;
  text-align: center;
  color: white;
}